YOCO_SECRET_KEY=

# VAPID Keys for Push Notifications
VITE_VAPID_PUBLIC_KEY=BJqzp7rkr1obW1Tr2C7_Jm-7H_pS1ybLDsgJBeQewq46Ws2HpXF1jF_g1h9sthZw7KmmtnjziqdIXfiyB7wGLno
VAPID_PRIVATE_KEY=uuvXpzIkGXcdPJl8do9liQ3zqQaqGBH554CXz9Da0iw
VAPID_EMAIL=mailto:clashfouche@gmail.com
